.highligths-container{
    background-color: #100e1d;
    color: #e7e7eb;
    >p{
        text-align: left;
        margin: 30px 0px;
        font-size: 30px;
        font-weight: 500;
    }
}
.highlights-list{
    display: grid;
    row-gap: 20px;
}

.card-hl{
    background-color: #1e213a;
    padding: 20px 0px;
    p{
        text-align: center;
        margin: 0;
        margin-bottom: 10px;
    }
}

.card-important-data{
    font-size: 50px;

    span{
        font-size: 70px;
        font-weight: 600;
    }
}

.bar-border{
    background-color: #e7e7eb;
    width: auto;
    height: 10px;
    margin: 0px 50px;
    border-radius: 5px;
}

.bar-progress{
    background-color: #ffec65;
    height: 100%;
    border-radius: 5px;
}

.measurer{
    color: #a09fb1;
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
    margin-bottom: 5px;
}

@media screen and (min-width: 1024px) {
    .highlights-list{
        grid-template-columns: auto auto;
        column-gap: 20px;
        row-gap: 20px;
    }
}
